<div> This is QR code block </div>
<div >
    <img src="{{ qr_code }}" height="100" width="100"  alt="star" />
</div>
<div >
    <img src="{{ qr_code }}" height="100" width="100"  alt="star1" />
</div>